@import 'colors';
@import 'fonts';

html {
  font-size: 100%;
  box-sizing: border-box;
  height: -webkit-fill-available;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Plus Jakarta Sans';
  line-height: 1.3;
  background-color: $primaryBackground;
}

//flexBox
.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}
a,
a:visited,
a:hover {
  text-decoration: none;
}

i {
  color: $primaryObjectsBlack;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 11px 42px;
  gap: 10px;

  position: absolute;
  width: 360px;
  height: 54px;
  left: calc(50% - 360px / 2 + 1.5px);
  top: calc(50% - 54px / 2 - 1971.5px);

  background: #c2110e;
  border-radius: 15px;
}

.font-w {
  &-sm {
    font-weight: 400;
  }
  &-md {
    font-weight: 600;
  }
  &-lg {
    font-weight: 800;
  }
}
