@import 'colors';
@import 'fonts';
.section {
  &__background {
    position: relative;
    > div span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #ffffff;
      font-size: 3rem;
      font-weight: 800;
    }
    > div button {
      position: absolute;
      background: $primaryRed;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition-duration: 0.3s;
      &:active {
        background-color: lightcoral;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      }
      &:hover {
        padding-top: 0.5rem;
      }
    }
    &__img {
      background-image: url('../../assets/img/main\ img\ mobile.jpg');
      background-size: cover;
      height: 43.75rem;
    }
  }
  &__benefits {
    flex-wrap: wrap;
    justify-content: center;
    > div {
      background-color: $primaryIconBorder;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px;
      padding: 14px 21px 14px 21px;
      width: 10.625rem;
      height: 7.375rem;
      border-radius: 1rem;
    }
    > div i {
      font-size: 48px;
      margin-bottom: 10px;
    }
    > div span {
      text-align: center;
    }
    &__group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 30px;
        margin-bottom: 20px;
        text-align: center;
      }
    }
  }
  &__subscribe {
    background-color: $primaryObjectsBlack;
    color: $primaryIconBorder;
    margin: 1rem 0 1rem 0;
    padding: 9rem;
    position: relative;
    > div i {
      width: 1.25rem;
    }
    &__group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      position: absolute;
      top: 50%;
      bottom: 50%;
      right: 10%;
      left: 10%;
      > div {
        display: flex;
        gap: 1rem;
      }
      > div i {
        font-size: 1.25rem;
        color: $primaryBackground;
      }
      > div span {
        font-size: 0.875rem;
      }
    }
    &__rotate-text {
      position: absolute;
      left: 90%;
      right: 10%;
      top: 50%;
      bottom: 50%;
      display: flex;
      justify-content: center;
      white-space: nowrap;
      transform: rotate(-90deg);
      > span {
        font-size: $font-md;
      }
    }
  }

  &__performance {
    text-align: center;
    padding-top: 1rem;
    > span {
      font-size: $font-md;
    }
    &__group {
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      text-align: left;
      > div {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        padding: 0 2rem;
      }
    }

    > div i {
      margin-right: 10px;
      font-size: 1.188rem;
    }
    > div span {
      margin: 0.5rem 1rem;
    }
    .title {
      text-align: center;
      font-size: $font-md;
      padding-bottom: 1rem;
    }
    &__organic {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-bottom: 2rem;
      padding-top: 4rem;
      > span:nth-child(2) {
        width: 22.6rem;
      }
      > img {
        padding-bottom: 2rem;
      }
    }
    &__boosting {
      flex-direction: column;
      align-items: center;
      background-color: $primaryIconBorder;
      > div:nth-child(1) {
        font-size: 3.125rem;
        text-align: center;
      }
      > div span {
        color: $primaryRed;
        white-space: pre-line;
        > span:first-child {
          color: $primaryObjectsBlack;
        }
      }
      > span:nth-child(2) {
        font-size: 1.25rem;
        padding: 1rem;
      }
      > span:nth-child(3) {
        text-align: center;
        width: 22.6rem;
        padding: 1rem;
      }
      &__items {
        flex-wrap: wrap;
        justify-content: center;
        background-color: $primaryIconBorder;
        > div {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
        > div img {
          width: 7rem;
        }
        > div span {
          display: flex;
          width: 8rem;
          padding: 1rem 2rem 1rem 2rem;
          line-height: 1.103rem;
        }
      }
      &__btn {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem;
        > button {
          background-color: $primaryObjectsBlack;
          &:active {
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.9);
          }
          &:hover {
            padding-top: 0.5rem;
          }
        }
      }
    }
  }
  &__process {
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem;
    > div i {
      font-size: 3rem;
    }
    > div:nth-child(1) {
      padding-bottom: 5rem;
      line-height: 3.188rem;
      font-size: 3rem;
    }
    &__container {
      position: relative;
      flex-direction: column;
      gap: 2rem;
      > div img {
        width: 2.3rem;
        position: absolute;
      }
      > div:nth-child(1),
      div:nth-child(5) {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      > div:nth-child(3),
      div:nth-child(7) {
        text-align: right;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }
  }
  &__faq {
    flex-direction: column;
    align-items: center;
    text-align: center;
    > span:nth-child(1) {
      font-size: 1.25rem;
      margin: 2rem auto;
    }
    &__accordion {
      max-width: 800px;
      position: relative;
      &__box {
        margin: 10px 20px;
        > .label {
          padding: 7px;
          font-size: 0.875rem;
          cursor: pointer;
          &:after {
            content: '\f078';
            font-family: 'Font Awesome 5 Free';
            padding-left: 0.4rem;
          }
        }
        &:active,
        &.active {
          .label {
            &:after {
              content: '\f077';
            }
          }
          .section__faq__accordion__box__content {
            height: 20rem;
          }
        }
        &__content {
          height: 0;
          overflow: hidden;
          transition: height 0.5s ease;
          overflow-y: auto;
        }
      }
    }
  }
}
