@import 'globals';
@import 'header';
@import 'colors';
@import 'sections';
@import 'fonts';
@import 'media';

//swiper library

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide-active,
.swiper-slide-next,
.swiper-slide-prev {
  background: $primaryIconBorder;
}

// .open {
//   height: 20rem;
// }
